.header {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #303030;
  position: relative;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  position: relative;
  z-index: 100;
  background-color: transparent;
  border: none;
  height: 40px;

  &-close {
    display: none;

    .menu-btn.is-open & {
      display: block;
    }
  }

  &-burger {
    .menu-btn.is-open & {
      display: none;
    }
  }
}

.navigation-list-item-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.389;
  letter-spacing: 0.1em;
  color: #303030;
}

.header-tel-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.389;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.header-socials-list-item {
  padding-left: 100px;

  &:first-child {
    position: relative;

    &::before {
      position: absolute;
      width: 60px;
      height: 1px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: #303030;
      content: "";
    }
  }

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.header-socials-list-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.357;
  letter-spacing: 0.2em;
  color: #303030;
}

@media screen and (max-width: 767px) {
  .header {
    .logo {
      fill: #fff;
    }
  }

  .menu-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    background-color: #fff;
    width: 337px;
    height: 796px;
    padding-top: 118px;
    padding-bottom: 227px;
    padding-left: 40px;
    padding-right: 105px;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04),
      -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
    transition: transform 500ms linear;

    &.is-open {
      transform: translateY(0);
    }
  }

  .navigation {
    margin-bottom: 64px;
  }

  .navigation-list-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .header-utils {
    margin-bottom: 64px;

    .address {
      margin-bottom: 24px;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    .address {
      margin-top: 20px;
    }

    .logo {
      margin-right: 64px;
    }
  }
  .header-container {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .menu-btn {
    display: none;
  }

  .header-socials-list {
    display: none;
  }

  .menu-wrapper {
    display: flex;
  }

  .navigation {
    margin-top: 20px;
    margin-right: 47px;
  }

  .navigation-list {
    display: flex;
  }

  .navigation-list-item:not(:last-child) {
    margin-right: 24px;
  }

  .navigation-list-item-link,
  .header-tel-link {
    font-size: 12px;
    line-height: 1.333;
    color: #fff;
  }

  .header-utils {
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

// /* ================ HEADER ================ */
// .header {
//   position: absolute;
//   width: 100%;
//   top: 0;
//   left: 0;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   .address {
//     margin-left: auto;
//     margin-right: 40px;
//   }
// }

// .header-container {
//   display: flex;
//   align-items: center;
// }

// .navigation {
//   display: flex;
// }

// .logo {
//   margin-right: 71px;
//   animation-duration: 2000ms;
// }

// .navigation-list {
//   display: flex;
//   align-items: center;
// }

// .navigation-list-item:not(:last-child) {
//   margin-right: 40px;
// }

// .navigation-list-item-link {
//   @extend %header-links;
// }

// .header-tel-link {
//   @extend %header-links;
//   text-transform: uppercase;
// }
// /* ================ END HEADER ================ */
