.subtitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;

  &::before {
    display: block;
    content: "";
    width: 60px;
    height: 1px;
    margin-right: 20px;
  }

  .gallery & {
    margin-bottom: 44px;
  }
}

.subtitle-dark-theme {
  color: $text-color-dark-theme;

  &::before {
    background-color: $text-color-dark-theme;
  }
}

.subtitle-light-theme {
  color: $text-color-light-theme;

  &::before {
    background-color: $text-color-light-theme;
  }
}
