%header-links {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: #fff;
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

%contact-form-area {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9da4bd;
  color: #fff;

  &:focus {
    outline: none;
    border-bottom-color: #fff;
  }

  &:focus::placeholder {
    color: #fff;
  }
}
