$main-font: "Open Sans", sans-serif;
$secondary-font: "Raleway", sans-serif;
$title-font-size: 42px;
$text-font-size: 18px;
$text-color-light-theme: #555555;
$text-color-dark-theme: #9da4bd;
$title-color-light-theme: #303030;
$title-color-dark-theme: #ffffff;
$modal-btn-color-light-theme: #303030;
$modal-btn-color-dark-theme: #ffffff;
$accent-color: #ff6c00;
